/*Base Styles for the Prophets Project*/

body{
    margin: 0;
}

header{
    text-align: center;
    background-color: #973eab;
    margin-top: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 0.1em solid #333232;
}

h1{
    color: #ffff;
}

h2{
    color: #ffff;
}

h3{
    color: #ffff;
    font-size: 1em;
}

main{
    margin: 2em;
}

div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(17, 48em);
    justify-content: center;
}

section{
    margin: 0.2em;
    padding: 0.2em;
    text-align: center;
    background-color: #973eab;
    border: 0.1em solid #333232;
}

section img{
    border: 0.1em solid #333232;
}

footer{
    background-color: #973eab;
    padding: 3em;
    text-align: center;
    color: #ffff;
    border-top: 0.1em solid #333232;
    font-size: 1.3em;
}

/*Screen Change*/
@media only screen and (min-width: 1300px){
    div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 48em);
    }
}