/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito&display=swap');

/*How to referance them in code:

font-family: 'Merriweather', serif;

font-family: 'Nunito', sans-serif;
*/

/*Shared Elements*/
h1 {
    font-size: 25px;
    font-family: 'Merriweather', serif;
    color: #5f79c8;
}

h2{
    font-size: 23px;
    font-family: 'Merriweather', serif;
    color: #3c3f48;
}

h3{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: #3c3f48;
}

p{
    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    color: #3c3f48;
}

/*For div boxes on home*/
h4{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: #e6e449;
    text-shadow: 5px -5px 13px #3d3d2c;
}

/*Come meet section*/
#comeJoinUsHeader{
    text-align: center;
}

/*Header*/
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    background-color: #5f79c8;
}

header section{
    display: flex;
    flex-direction: column;
}

/*Images*/

header section img{
    width: 12em;
    height: 12em;
    align-self: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#socialMedia{
    margin: 0;
}

.socalImages img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #ffff;
    margin-top: 20px;
    margin-left: auto;
}

a.socalImages img:hover{
    box-shadow: 6px 6px 10px 1px #595656;
}

.socalImages{
    text-decoration: none;
    align-self: center;
}

/*Navigation*/

nav{
    padding-top: 58px;
    margin-left: 2vw;
}


nav ul.open{
    display: block;
}

nav ul{
    display: none;
    margin: 0;
    padding: 0;
    background-color: #3a4b7c;
}

nav ul li{
    align-self: center;
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding: .8rem;
    border-top: 2px solid #ffff;
    font-size: 40px;
    font-family: 'Merriweather', serif;
    color: #ffff;
    text-align: left;
    text-decoration: none;
}

nav ul li.active a{
    color: #3a4b7c;
    background-color:#ffff;
}

nav ul li a:hover{
    border: 0;
    color: #3a4b7c;
    border-top: 1px solid #ffff;
    background-color:#ffff;
}

/*Hamburger*/
header button{
    display: block;
    font-size: 45px;
}

/*Current Date part of Header*/
header h2{
    padding: 0px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    grid-row: 2/3;
}

#headerDate{
    color: #ffff;
    font-size: 18px;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    background-color: #3a4b7c;
    border: 2px solid #ffff;
}


/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    background-color:#5f79c8;
}

footer img{
    width: 15em;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
}

footer .copyRight{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #ffff;
}

.footerLeft{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 30px;
}

footer p,
footer h1,
footer h2,
footer a{
    color: #ffff;
    align-self: center;
    text-align: center;
    font-family: 'Merriweather', serif;
}

footer p{
    font-size: 11px;
}

footer a{
    font-size: 17px;
    margin: 0.5em;
}

footer a:hover{
    border: 2px solid #ffff;
    background-color:#3a4b7c;
}

footer h2{
    margin-left: 5px;
    margin-right: 5px;
}

.footerRight{
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
}

/*Main code for Home*/
.home{
    display: grid;
    grid-template-columns: 1fr;
}

.home div{
    background-color: #4b99c7;
    width: 15em;
    height: 200px;
    align-self: center;
    margin: 0px;
    margin-top: 5px;
    border: 2px solid #3c3f48;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: -2px -4px 10px 0px #222020;
}

.home div p{
    color: #ffff;
    font-size: 13px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.home div h3{
    color: white;
}

.home div a{
    color:#e6e449;
    font-family: 'Merriweather', serif;
    font-size: 13px;
    margin-left: 0.5vw;
    text-decoration: none;
}

#hero{
    margin: 0;
    padding: 0;
    padding-bottom: 7em;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#hero img{
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    border: 2px solid #3c3f48;
}

#news {
    padding: 0;
}

#weather{
    padding: 0;
    padding-bottom: 10em;
}

#weather section{
    border-top: 2px solid #ffff;
}

#join a{
    background-color:#773c87;
    color: #ffff;
    border: 2px solid #3c3f48;
    border-radius: 2em;
    padding: 25px;
    margin: 0;
    box-shadow: 6px 9px 10px 0px #3c3f48;
}

#join a:hover{
    color: #773c87;
    background-color: #ffff;
}

#join p{
    margin-top: 60px;
}

#spotlight{
    background-color: #4690ba;
    display: grid;
    margin: 9px;
    border: 2px solid #3c3f48;
    margin-right: auto;
    margin-left: auto;
    padding-top: 29px;
    padding-bottom: 241px;
}

#spotlight div{
    width: 13em;
    height: 206px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#spotlight div img{
    margin-bottom: 10px;
}

#spotlight div p{
    font-size: 12px;
    margin: 5px;
    font-style: italic;
}

#spotlight div a{
    font-size: 10px;
    margin: 0px;
}

#spotlight div section{
    border-top: 1px solid #ffff;
}

#spotlight div section p{
    font-size: 10px;
    margin: 0;
    margin-top: 5px;
    font-style: normal;
}

#spotlight3{
    display: none;
}

/*discover main*/
main.discover{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

main.discover h1{
    font-size: 2em;
}

main.discover h2{
    margin-top: 1.5em;
}

main.discover picture img[data-src]{
    filter: blur(0.5em);
}

main.discover picture img{
    width: 200px;
    filter: blur(0em);
    transition: filter 0.8s;
    margin-top: 0.9em;
    border: 1px solid #3c3f48;
}

main.discover picture img:hover{
    box-shadow: none;
    width: 200px;
}

main.discover section#visitsSection{
    margin-top: 2vh;
    border-top: 1px solid #3c3f48;
}

/*Join Main code*/
main.join{
    margin: 3em;
}

main.join h1{
    text-align: center;
    margin-top: 1.2em;
}

/*Form code in Join*/
main.join form fieldset{
    margin: 1.5rem 0;
    border: 1px solid #5f79c8;
    border-radius: 0.8em;
    padding: 1.3em 0.5em;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
    color: #3c3f48;
}

main.join form legend{
    margin-left: 1em;
    font-size: 1.1rem;
    padding: 0;
}

main.join label.topInfo,
main.join label.additionalInfo{
    display: block;
    padding-top: 1.8em;
}

main.join label.topInfo input{
    display: block;
    border: 1px solid #3c3f48;
    border-radius: 0.8em;
    padding: 0.44em;
    width: 80%;
}

main.join label.topInfo input:required{
    border-left: 4px solid #ff0000;
}

main.join p#error{
    color: #ff0000;
    font-size: 15px;
}

main.join label.topInfo input:required:valid{
    border-left: 4px solid #40cf36;
}

main.join label.additionalInfo textarea{
    display: block;
    border: 1px solid #3c3f48;
    border-radius: 0.8em;
    padding: 0.5em 3em 3em 12px;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    width: 50%;
}

main.join form fieldset.memberShipClass{
    display: grid;
    grid-template-columns: 1fr;
}

main.join form label.mss{
    padding-top: 2em;
}

main.join form div.mssInfo{
    padding: 0;
}

main.join form div.mssInfo{
    color: #5f79c8;
}

main.join form input#subButton{
    font-family: 'Nunito', sans-serif;
    color: #ffff;
    background-color: #5f79c8;
    border: 1px solid #3c3f48;
    padding: 0.8em;
    border-radius: 0.9em;
}

main.join form input#subButton:hover{
    color: #dadada;
    background-color: #2f3e6d;
}

/*Thank You Main Code*/
main.thankYou{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 8em 0
}

main.thankYou h3{
    margin-top: 3em;
}

/*Directory Code*/


main.directory div.selectStyle{
    display: flex;
    justify-content: center;
    margin: 3em;
}

main.directory div.selectStyle button{
    padding: 1rem;
    font-size: 1em;
    margin-left: 3em;
    margin-right: 3em;
}